html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;

	/*--keycap-height: 4em;*/
	--keycap-font-size: 1.5em;
}

body {
	background: black;
	color: white;
	font-size: 20px;
	font-family: sans-serif;
	position: relative;
	overflow: auto;
}

.spacer {
	height: 50%;
}

img {
	max-height: 200px;
}

h1, h2, h3, h4, h5, p {
	margin: 0;
}

h4 {
	margin-top: 10px;
	border-top: 2px solid white;
}

math-field:not(:defined) {
	display: none;
}

math-field::part(virtual-keyboard-toggle) {
	display: none;
}

math-field {
	/*font-size: 2em;*/
	min-width: 2em;
}

.result {
	margin: 0;
	display: inline-block;
}

/*#ch23p36,*/
/*#ch23p40,*/
/*#ch24p7,*/
/*#ch24p17,*/
/*#ch24p21,*/
/*#ch24p55*/
/*{*/
/*	display: none;*/
/*}*/